<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<div>
    <form th:method="POST" th:action="@{'/admin/edit?id=' + ${user.getId()}}" th:object="${user}">
        <label for="name">Name</label>
        <input th:field="*{name}" type="text" id="name" th:value="${user.getName()}"/>

        <br>
        <label for="surname">Surname</label>
        <input th:field="*{surname}" type="text" id="surname" th:value="${user.getSurname()}"/>

        <br><label for="department">Department</label>
        <input th:field="*{department}" type="text" id="department" th:value="${user.getDepartment()}"/>

        <br><label for="salary">Salary</label>
        <input th:field="*{salary}" type="text" id="salary" th:value="${user.getSalary()}"/>

        <br>
        <label>Roles:</label>
        <div th:each="role : ${roles}">
            <input type="checkbox" th:value="${role.getName()}" th:text="${role.getName()}" name="selectedRoles"/>
        </div>

        <input th:field="*{username}" th:hidden="hidden"/>

        <input th:field="*{password}" th:hidden="hidden"/>

        <br>

        <input value="Edit user" type="submit"/>
    </form>
</div>
</body>
</html>